body {
    background-color: #f4f1de;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    color: #000000;
    text-align: center;
    font-size: 300%;
}
h3 {
    color: #000000;
}
h4 {
    color: #000000;
    font-size: 180%;
    text-align: left;

}
h5 {
    color: #000000;
    text-align: left;
    font-size: 100%;

}
header {
    background-color: #c6bc97;
    padding: 30px;
    text-align: center;
    font-size: 60px;
    color: #000000;
}
nav {
    float: left;
    width: 170px;
    height: 800px; 
}
button {
    width:100%;
    border: 4px solid #bab49b;
    border-radius: 4px;
    color: #000000;
    font-size: 100%; 
}
p{
    text-align: left;
    padding-right: 100px;
    font-size: 90%;

}
article {
    padding-left: 250px;
}
.text{
    text-align: left;
    padding-right: 100px;
    font-size: 90%;  
}
.submit {
    position: absolute;
    font-size: 70%;  
}
.vysledek {
    text-align: left;

}
table, th, td, tr {
    border: 1px solid;
    padding: 10px;
  }
td.left{
    text-align: left;
}
#result_id{
    text-align: center;
}
ul.menu {
    list-style-type: none;
}
select{
    border: 2px solid #8e8a6a;
    border-radius: 4px;
    color: #8e8a6a
}
input{
    border: 2px solid #8e8a6a;
    border-radius: 4px;
    color: #8e8a6a 
}